<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="PHP开发" />
    <meta name="description" content="PHP开发" />
    <meta name="google-site-verification" content="W8lAMAOcorzUOCibxm0q832Z9pVplii9ld9x0L-TOAc" />
<!--
    <script type="text/javascript" src="js/common.js"></script>
    
    <link rel="shortcut icon" href="images/favicon.ico" />
-->
    <link rel="stylesheet" type="text/css" href="<{$tpl_front}>style.css" />
    <title>blog.sk80.com</title>
  </head>
  <body>
    <div id="header">
        <div id="head">
            <h1 class="sitename">blog.sk80.com</h1>
            <p class="sitedesc">等我有钱了, 咱买棒棒糖, 买2 根, 1 根 你看着我吃, 另1根 我吃给你看。</p>
        </div>
    </div>
    <div id="main">
        <div id="content">
            <p id="topic-path">
                <a href="/" rel="nofollow">Home</a>
            </p>
            <{foreach from=$articles name=list item=val}>
            <div class="entry">
                <h2><a href="<{$val->url}>"><{$val->title}></a></h2>
                <ul class="info">
                    <li class="date"><{$val->created_date|date_format:"%b %e, %Y %H:%M"}></li>
                    <li class="category"><a href="<{$category_url}>"><{$val->category}></a></li>
                </ul>
                <div class="textbody">
                    <{$val->content}>
                </div>
                <ul class="reaction">
                    <li><a href="<{$val->url}>">Permalink</a></li>
                </ul>
            </div>
            <{/foreach}>
            <p class="page">
                <{$page_nav}>
            </p>
        </div>
        <div id="utilities" class="utilities_side">
            <dl class="navi">
                <dt>Recent Entries</dt>
                <dd>
                    <ul class="recentEntries">
                      <{foreach from=$recent_post item=val name=recent_post}>
                      <li><a href="<{$val->url}>"><{$val->title}></a></li>
                      <{/foreach}>
                    </ul>
                </dd>
                <dt>Categories</dt>
                <dd>
                    <ul class="category">
                      <{foreach from=$categories item=val name=categories}>
                      <li><a href="<{$val->url}>"><{$val->name}></a> <small>(<{$val->count}>)</small></li>
                      <{/foreach}>
                    </ul>
                </dd>
                <dt>Archives</dt>
                <dd>
                    <ul class="archives">

                    </ul>
                </dd>
            </dl>
            <dl class="other1 others">
                <dt>Search</dt>
                <dd>

                </dd>
                <dt>Feeds</dt>
                <dd>

                </dd>
                <dt>E-mail address</dt>
                <dd>

                </dd>
                <dd class="linkInfo"></dd>
            </dl>

        </div>
        <p class="return">
            <a href="#header">Return to page top</a>
        </p>
    </div>
    <div id="footer">
        <address>Copyright &copy; sk80 blog All Rights Reserved.</address>
    </div>
  </body>
</html>
