<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="/js/panel/panel.js"></script>
<style>
body {
	font-size: 12px;
}
.div1 {
	background: #cccccc; padding:3px;
}
</style>
<title></title>
</head>
<body>
<div id="div1" class="div1">这是一个模板</div>
<br />
<form id="fm" name="fm" method="post" action="">
名称：<input type="text" name="name" value="" />
<br /><br />
<p align="center"><input type="button" name="submit1" value="提 交" onclick="javascript:doSubmit('fm','cb1');" />&nbsp;<input type="button" value="关 闭" onclick="javascript:closePanel();" /></p>
</form>


</body>
</html>