@charset "utf-8";
/* CSS Document */
<!--
body {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px auto;
	color: #777;
	line-height: 18px;
	padding-top: 0px;
	font-family: tahoma, arial, helvetica, sans-serif;
	background-color: #fff
}
*+html body {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px auto;
	color: #777;
	line-height: 18px;
	padding-top: 0px;
	font-family: "微软雅黑", ahoma, arial, helvetica, sans-serif;
	background-color: #fff
}
a {
	text-decoration:none
}
input {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px
}
.main {
	background-color:#BFE6BC;
	margin:100px auto;
	width:800px;
	height:180px;
	border:8px #399C26 solid;
}
.header {
	text-align:center;
	margin:10px auto;
	width:100%;
	display:block
}
.header h1 {
	font-size:20px;
	color:#399C26
}
.header p {
	padding:0px;
	margin-top:-10px;
}
.header p span{
	font-size:12px;
	color:#FFF
}
.button_list {
    margin:10px auto;
	width:382px;
	height:110px;
	display:block
}
.button {
	width:100px;
	border:8px #399C26 solid;
	height:20px;
	line-height:20px;
	font-size:14px;
	float:left;
	text-align:center;
	margin-left:10px;
	margin-bottom:10px;
	background-color:#399C26
}
.button a{
	color:#FFF;
	font-weight:bold
}
.footer {
	text-align:center;
	font-size:12px;
	display:block;
	margin:10px auto;
}
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.file_list {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 8px solid #399C26;
	background-color: white;
	z-index:1002;
	overflow: auto;
	background-color:#BFE6BC;
}
.file_list_t {
	margin:0 auto;
	display:inline;
}
.file_list_t li {
	font-size:14px; 
	list-style-type:none;
	padding:0px;
	background-color:#BFE6BC;
	border-bottom:1px #CCC solid;
}
*+html .file_list_t li {
	font-size:14px; 
	background:url(images/list_ico_1.gif) #fff no-repeat 7px 50%;
	list-style-type:none;
	text-indent:5px;
	padding:0px;
	background-color:#BFE6BC;
	border-bottom:1px #CCC solid;
}
*+html .file_list_t li span {
	float:right;
	font-weight:bold;
	margin-top:-20px;
}
.file_list_t li span {
	float:right;
	font-weight:bold;
	margin-top:0px;
}
.file_list_t li a{
	color:#399C26;
}
.file_list_close {
	display: none;
	position: absolute;
	top: 22%;
	left: 75%;
	width: 30px;
	height: 16px;
	border: 1px solid #399C26;
	z-index:1002;
	background-color:#399C26;
	color:#FFF;
	line-height:16px;
	text-align:center
}
.file_list_close a{
	color:#FFF;
}

/* file_content_input_form */
.file_content_input_form{
    margin:0 auto;
    width:450px;
    padding:14px;
}
/* input_box */
#input_box{
}
#input_box h1 {
    font-size:14px;
    font-weight:bold;
    margin-bottom:8px;
}
#input_box p{
    font-size:11px;
    color:#399C26;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}
#input_box label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}
#input_box .small{
    color:#399C26;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
#input_box input{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #399C26;
    width:200px;
    margin:2px 0 20px 10px;
}
#input_box textarea{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #399C26;
    width:200px;
	height:150px;
    margin:2px 0 20px 10px;
}
#input_box button{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background:#399C26;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}
-->

