<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh" dir="ltr">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=7" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Page No Found</title>
  </head>
  <body style="text-align:center;">
      <div style="width:350px; margin:250px auto; border:3px double #AD5629;">
          <h4>Error: <{$msg}></h4>
          <p><a href="<{$url}>">返回</a></p>
      </div>
  </body>
</html>
