<{strip}>
<div id="footer">
                  <div>
                      <a rel="nofollow" class="admin" href="<{$site_url}>login"><small>ADMIN</small></a>
                      <address>&copy; 2010 <a href='<{$site_url}>'>blog.sk80.com</a></address>
                  </div>
              </div>
          </div>
      </div>
<script type="text/javascript" src="<{$site_url}>include/js/resize.js"></script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-5695529-2");
pageTracker._trackPageview();
} catch(err) {}
</script>
  </body>
</html>
<{/strip}>

<script language="javascript" type="text/javascript" src="http://js.users.51.la/3688801.js"></script>
<noscript><a href="http://www.51.la/?3688801" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/3688801.asp" style="border:none" /></a></noscript>