<{strip}>
            <div id="footer">
              <p>#simpleblog</p>
              <p id="site-links">
                  <a href="">Users</a>
                  <span class="separator">|</span>
                  <a href="index.php?job=admin_cache&action=create">Update Cache</a>
                  <span class="separator">|</span>
                  <a href="">Extension</a>
                  <span class="separator">|</span>
                  <a href="<{$site_url}>index.php?job=login&action=logout">Log Out</a>
                  <span class="separator">|</span>
                  <a class="view-site" href="<{$site_url}>index.php">View Site</a>
              </p>
          </div>
      </div>
  </body>
</html>
<{/strip}>
<script type="text/javascript" src="<{$site_url}>include/js/jquery-1.4.2.min.js"></script>