{* include file="header.htm" *}
<!--内容文件-->
<FORM METHOD=POST ACTION="?action=do">
<table cellspacing=0 cellpadding=5 border=0 >
			  <tr>
				<td bgcolor=#CCCCFF><A HREF="index.php">框架测试</a> -> 注册会员</td>
			  </tr>
			</table>
			<hr noshade color=dddddd size=1>
			<table cellspacing="3">
			  <tr>
				<td >用户名：</td><td ><INPUT TYPE="text" NAME="username" size=20></td>
			  </tr>
			  <tr>
				<td >密码：</td><td ><INPUT TYPE="text" NAME="passwd" size=20></td>
			  </tr>
			  <tr>
				<td >Email：</td><td ><INPUT TYPE="text" NAME="email" size=20></td>
			  </tr>
			  <tr>
				<td colspan="2"><INPUT TYPE="submit" value=" 注册 "><INPUT TYPE="reset" value=" 取消 "></td>
			  </tr>
			</table>
<!--包含尾文件-->
{* include file="footer.htm" *}
