<{strip}>
<div id="footer">
                  <p><a class="admin" href="<{$site_url}>login"><small>ADMIN</small></a>2010 <a href='<{$site_url}>'><em>blog.sk80.com</em></a></small></p>
              </div>
          </div>
      </div>
<script type="text/javascript" src="<{$site_url}>include/js/resize.js"></script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-5695529-2");
pageTracker._trackPageview();
} catch(err) {}
</script>
  </body>
</html>
<{/strip}>
